# IDE user conf
.vscode/
.idea/
.vs/
.DS_Store/

/**/.DS_Store
/**/node_modules/
/**/.env
# /**/dist
docs/**/dist

# Logs
/**/yarn-error.log
/**/npm-debug.log
/**/lerna-debug.log
/**/.pnpm-debug.log

# Lock File
/**/package-lock.json
/**/yarn.lock
.pnpm-lock.yaml
