shamefully-hoist=true

# auto-install-peers=true
strict-peer-dependencies=false

# registry=https://registry.npmjs.org/
# registry.npmjs.org/:always-auth=true
# registry.npmjs.org/:_authToken=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
